.header { 
    max-width: 1109px;
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.header__nav {
    max-width: 100px;
    width: 100%;
}
.header__nav__genesis {
    max-width: 90px;
    width: 100%;
}
.logo:hover {
    
}
.header__nav__genesis:hover {
    max-width: 100px;
    width: 100%;
}
.header__nav__contact-project {
   max-width: 200px;
   width: 100%;
   display: inline;
}
.header__nav__project {
    max-width: 67px;
    width: 100%;
    margin-right: 29px;
}
.header__nav__contact {
    max-width: 66px;
    width: 100%;
}